body::after {
  content: "";
  position: absolute;
  background-image: url('../images/background_white.jpg');
  background-size: cover;
  top: 0;
  width: 100%;
  height: 3600px;
  z-index: -1;
  opacity: 0.35;
}

h1 {
  font-family: 'Rochester', cursive;
  margin: 30px 0;
  font-size: 4em;
  font-style: italic;
  text-align: center;
}

h1 i {
  position: relative;
  height: 100%;
}

h1 i::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% - 80px);
  width: 40px;
  height: 1px;
  background-color: black;
}

h1 i::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% + 45px);
  width: 40px;
  height: 1px;
  background-color: black;
}

h2 {
  font-family: 'Rye', cursive;
  margin-bottom: 1em;
  font-size: 3.2rem;
}

@media (max-width: 520px) {
  h2 {
    font-size: 2.2rem;
  }
}

h3 {
  font-family: 'Rye', cursive;
  font-size: 1.6em;
}

p, span, label {
  font-family: 'Sanchez', serif;
}

p i {
  font-weight: 900;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit
}

strong {
  text-transform: uppercase;
}

textarea {
  width: 80%;
  height: 180px;
}

input, select {
  margin-bottom: 30px;
}

input[type="submit"] {
  display: block;
  margin: 10px 0 60px;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  margin: 0 10px 1em;
  text-transform: uppercase;
  font-size: 0.7em;
  opacity: 0.7;
}

li:hover {
  cursor: pointer;
  opacity: 1;
}

nav {
  margin-bottom: 40px;
}

@media (max-width: 875px) {

  .nav-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 80;
  }

  .hidden {
    display: none;
  }

  nav {
    position: fixed;
    margin-bottom: 0;
    width: 220px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: white;
    color: black;
    opacity: 1;
    z-index: 100;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .nav-opened {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;

    font-weight: 500;
    opacity: 1;
    height: 100vh;
    position: absolute;
  }


  nav li {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
  }

  nav li a {
    padding: 10px;
  }
}

.menu-icon {
  position: fixed;
  top: 19px;
  right: 25px;
  padding: 5px 10px;
  z-index: 100;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-icon:hover {
  cursor: pointer;
}

.opened {
  transform: translateX(-220px);
}

.hamburger .line{
  width: 32px;
  height: 2px;
  background-color: black;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  margin: 11px auto;
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  margin: 11px auto;
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

@media (min-width: 875px) {
  .menu-icon {
    display: none;
  }
}

.local {
  position: absolute;
  height: 25px;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.local img {
  width: 20px;
  height: 20px;
}

.active {
  opacity: 0.4;
}

.volute-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.volute-container .reverse {
  transform: rotate(180deg);
}

.volute-container::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 1px;
  background-color: black;
  top: 25px;
  z-index: -1;
  right: calc(50% + 150px);
}

.volute-container::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 1px;
  background-color: black;
  top: 25px;
  z-index: -1;
  left: calc(50% + 150px);
}

@media (max-width: 967px) {
  .volute-container::before {
    width: 80px;
  }
  .volute-container::after {
    width: 80px;
  }
}

@media (max-width: 510px) {
  .volute-container::before,
  .volute-container::after {
    display: none;
  }
}

.volute {
  position: relative;
  padding: 0 10px;
  height: 45px;
}

.photo-gallery {
  position: absolute;
  width: 25%;
  height: auto;
}

@media (max-width: 1099px) {
  .photo-gallery {
    display: none;
  }
}

.photo-gallery::after {
  content: "";
  position: absolute;
  height: 3600px;
  width: 40px;
  top: 0;
  right: -32px;
  z-index: 2;
  background-image: url('../images/border.png');
}

.photo-gallery .photo {
  position: relative;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 3;
}

.content {
  position: absolute;
  padding: 75px 30px;
  height: 3600px;
  right: 0;
  width: 75%;
  box-sizing: border-box;
  z-index: 1;
  overflow: scroll;
}

@media (max-width: 1099px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .content {
    padding: 75px 0;
  }
}

/* SECTION - MAIN TITLE *******************************************************/

.main-title {
  padding: 30px 0;
  text-align: center;
}

.annoucement {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.dots {
  width: 80px;
  height: 2px;
  margin: 0 auto 30px;
}

.annoucement .detail-1 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: 'Amatica SC', cursive;
  font-size: 2.8em;
}

@media (max-width: 520px) {
  .annoucement .detail-1 {
    font-size: 1.9em;
  }
}

.annoucement .detail-2 {
  margin-bottom: 1em;
  text-transform: uppercase;
  font-family: 'Rye', cursive;
  font-size: 2rem;
}

/* SECTION - STORY ************************************************************/

.section-story {
  margin: 60px auto 0;
}

.story-pics {
  display: none;
}

.story-pics img {
  max-width: 100%;
  min-width: 280px;
  max-height: 225px;
  margin: 0 auto 10px;
}

@media (max-width: 1099px) {
  .story-pics {
    display: flex;
    flex-wrap: wrap;
  }
}

/* SECTION - CEREMONY *********************************************************/

.section-ceremony {
  margin: 60px auto 0;
}

/* SECTION - CONTACTS *********************************************************/

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  margin: 0 auto 30px;
  width: 225px;
  box-sizing: border-box;
}

.contact-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.name {
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 900;
}

.title {
  margin-bottom: 15px;
  font-weight: 900;
}

/* SECTION - LOCATION *********************************************************/

.location-details {
  display: flex;
  margin-bottom: 30px;
}

.location-details img {
  margin-right: 20px;
  height: 200px;
}

@media (max-width: 700px) {
  .location-details {
    flex-direction: column;
  }

  .location-details img {
    max-height: auto;
    margin: 0 0 20px 0;
  }
}

/* SECTIONS *******************************************************************/

.section {
  margin: 60px auto 0;
}

#fotos {
  margin: 60px auto;
}

/* PAGE - Thanks **************************************************************/

.thanks {
  height: 100vh;
}

.thanks::after {
  height: 100vh;
}

.thanks-content {
  padding-top: 160px;
  text-align: center;
}

.go-back {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  margin-top: 60px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
